.container {
  max-width: 60.9375vw;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: 'ChocolateBox', sans-serif;
  background-color: #000000;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66%;
}

.col-10 {
  width: 83.33%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66%;
}

.col-7 {
  width: 58.33%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.12%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66%;
}

.col-1 {
  width: 8.88%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.btn {
  background-color: #E2B024;
  color: #1f1f1f;
}

.btn__transparent {
  border: 1px solid #E2B024;
  background-color: transparent;
  color: #fff;
}

.header__top {
  padding: 0.625vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left span {
  font-size: 0.625vw;
  line-height: 0.9375vw;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__connection {
  font-size: 0.625vw;
  line-height: 0.9375vw;
  color: #fff;
}

.header__burger {
  position: relative;
  width: 0.9375vw;
  height: 0.10417vw;
  background-color: #fff;
}

.header__burger::before {
  position: absolute;
  content: '';
  width: 0.9375vw;
  height: 0.10417vw;
  background-color: #fff;
  top: 0.26042vw;
}

.header__burger::after {
  position: absolute;
  content: '';
  width: 0.9375vw;
  height: 0.10417vw;
  background-color: #fff;
  top: -0.26042vw;
}

.header__bottom {
  padding: 1.14583vw 0;
}

.header__menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  position: relative;
  font-size: 0.83333vw;
  line-height: 0.46875vw;
  color: #fff;
}

.header__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 1px;
  background: #E2B024;
}

.header__link:hover::before {
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__link:hover {
  color: #E2B024;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hero__content {
  margin-top: 7.8125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  padding: 1.66667vw 0 1.25vw 0;
}

.hero__title span {
  color: #E2B024;
}

.hero__desc {
  text-align: center;
  max-width: 745px;
}

.hero__button {
  padding: 1.82292vw 0;
  color: #E2B024;
  text-decoration: underline;
}

.hero__img {
  width: 24.47917vw;
  height: 25vw;
}

.wine {
  background-color: #18191A;
}

.wine__content {
  padding: 13.90625vw 0 11.77083vw 0;
}

.wine__subtitle {
  font-family: 'Poppins';
  font-size: 1.04167vw;
  line-height: 170%;
  letter-spacing: 0.35em;
}

.wine__title {
  padding: 2.39583vw 0 2.70833vw 0;
  line-height: 1.45833vw;
}

.wine__title span {
  font-family: 'ChocolateBox';
  font-size: 3.85417vw;
  line-height: 2.23958vw;
  color: #E2B024;
}

.wine__desc {
  max-width: 27.39583vw;
  padding-bottom: 3.33333vw;
  font-family: 'Poppins';
  font-size: 0.9375vw;
  line-height: 100%;
}

.wine__btn {
  width: 12.08333vw;
  height: 3.54167vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 100%;
}

.wine__btn:nth-child(2) {
  margin-left: 3.125vw;
}

.wine__item {
  position: relative;
  border: 0.52083vw solid #E2B024;
  height: 24.89583vw;
}

.wine__item::before {
  position: absolute;
  content: '';
  width: 19.47917vw;
  height: 19.47917vw;
  background-color: #E2B024;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wine__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.products {
  margin: 150px 0 165px 0;
}

.products__title {
  text-align: center;
  font-family: 'ChocolateBox';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 28px;
}

.products__title span {
  color: #E2B024;
}

.products__filter {
  position: relative;
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__filter::before {
  position: absolute;
  content: '';
  border: 1px solid #fff;
  bottom: 85px;
  width: 417px;
}

.products__item {
  margin-left: 72px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

.products__item:nth-child(1) {
  margin-left: 0;
}

.products__sale {
  width: 80px;
  height: 40px;
  background-color: #E2B024;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__name {
  padding: 25px 0 16px 0;
}

.products__price {
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #E2B024;
}

.products__price span {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-decoration: line-through;
}

.products__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
  font-family: 'ChocolateBox';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 10px;
  color: #E2B024;
  text-decoration: underline;
}

.review {
  background: url(../../assets/images/review/review-bg.jpg) no-repeat center;
  background-size: cover;
}

.review__content {
  padding: 152px 0 162px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review__title {
  padding-bottom: 58px;
  font-family: 'ChocolateBox';
  font-size: 48px;
  line-height: 28px;
  color: #fff;
}

.review__title span {
  color: #E2B024;
}

.review__name {
  padding: 30px 0;
  font-family: 'Poppins';
  font-size: 24px;
  line-height: 175.3%;
  color: #fff;
}

.review__desc {
  max-width: 880px;
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 175.3%;
  color: #fff;
  text-align: center;
}

.offer {
  margin: 162px 0 224px 0;
}

.events {
  margin-bottom: 150px;
}

.events__title {
  text-align: center;
  padding-bottom: 60px;
  font-family: 'ChocolateBox';
  font-size: 48px;
  line-height: 28px;
  color: #fff;
}

.events__title span {
  color: #E2B024;
}

.events__block {
  background: #18191A;
}

.events__info {
  padding-left: 30px;
}

.events__subtitle {
  padding: 62px 0 8px 0;
  font-family: 'Poppins';
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.events__date {
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.events__desc {
  max-width: 512px;
  padding: 45px 0;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: #fff;
}

.events__btn {
  text-transform: uppercase;
  font-family: 'ChocolateBox';
  font-size: 18px;
  line-height: 10px;
  color: #E2B024;
}

.contact__title {
  text-align: center;
  padding-bottom: 82px;
  font-family: 'ChocolateBox';
  font-size: 48px;
  line-height: 28px;
  color: #fff;
}

.contact__title span {
  color: #E2B024;
}

.contact__desc {
  max-width: 466px;
  margin-bottom: 77px;
}

.contact__list {
  margin-left: 40px;
}

.contact__item {
  position: relative;
}

.contact__item:nth-child(2) {
  padding: 42px 0;
}

.contact__item:nth-child(1)::before, .contact__item:nth-child(2)::before, .contact__item:nth-child(3)::before {
  position: absolute;
  content: '';
  background-image: url(../../assets/images/contact/Call.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  left: -42px;
  bottom: -3px;
}

.contact__item:nth-child(2)::before {
  background-image: url(../../assets/images/contact/Message.svg);
  bottom: 38px;
}

.contact__item:nth-child(3)::before {
  background-image: url(../../assets/images/contact/Location.svg);
}

.contact__social {
  margin-top: 60px;
}

.contact__icon {
  padding-right: 56px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__input {
  margin-bottom: 29px;
  width: 670px;
  height: 64px;
  background: transparent;
  border: 1px solid #fff;
}

.contact__input:nth-child(4) {
  height: 133px;
}

.contact__input::-webkit-input-placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.contact__input:-ms-input-placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.contact__input::-ms-input-placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.contact__input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.contact__btn {
  width: 200px;
  height: 82px;
  margin-top: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 171.6%;
}

.newsletter {
  background: #1f1f1f;
  margin-top: 150px;
}

.newsletter__content {
  padding: 57px 0 62px 0;
  text-align: center;
}

.newsletter__title {
  font-family: 'ChocolateBox';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 28px;
  color: #E2B024;
  text-transform: uppercase;
}

.newsletter__subtitle {
  padding: 24px 0 70px 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.newsletter__label {
  position: relative;
}

.newsletter__input {
  width: 570px;
  height: 64px;
  background: #000000;
  border: none;
}

.newsletter__input::-webkit-input-placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  padding-left: 34px;
}

.newsletter__input:-ms-input-placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  padding-left: 34px;
}

.newsletter__input::-ms-input-placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  padding-left: 34px;
}

.newsletter__input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  padding-left: 34px;
}

.newsletter__btn {
  position: absolute;
  width: 127px;
  height: 64px;
  right: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #1F1F1F;
}

.footer {
  margin: 132px 0 44px 0;
}

.footer__top {
  position: relative;
  padding-bottom: 92px;
}

.footer__top::before {
  position: absolute;
  content: '';
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  bottom: 0;
}

.footer__title {
  font-family: 'ChocolateBox';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 14px;
  color: #E2B024;
  text-transform: uppercase;
  padding-bottom: 42px;
}

.footer__link {
  padding-bottom: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.footer__social {
  padding-bottom: 30px;
}

.footer__icon {
  padding-right: 44px;
  width: 24px;
  height: 24px;
}

.footer__info {
  padding: 0 0 24px 42px;
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 171.6%;
  color: #fff;
}

.footer__info:nth-child(2)::before, .footer__info:nth-child(3)::before, .footer__info:nth-child(4)::before {
  position: absolute;
  content: '';
  background-image: url(../../assets/images/contact/Call.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  left: 0px;
  bottom: 26px;
}

.footer__info:nth-child(3)::before {
  background-image: url(../../assets/images/contact/Message.svg);
}

.footer__info:nth-child(4)::before {
  background-image: url(../../assets/images/contact/Location.svg);
}

.footer__bottom {
  text-align: center;
}

.footer__author {
  padding-top: 22px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 171.6%;
  color: #fff;
}
