.container {
  max-width: 60.9375vw;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: 'ChocolateBox', sans-serif;
  background-color: #000000;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66%;
}

.col-10 {
  width: 83.33%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66%;
}

.col-7 {
  width: 58.33%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.12%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66%;
}

.col-1 {
  width: 8.88%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.btn {
  background-color: #E2B024;
  color: #1f1f1f;
}

.btn__transparent {
  border: 1px solid #E2B024;
  background-color: transparent;
  color: #fff;
}

.header__top {
  padding: 0.625vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left span {
  font-size: 0.625vw;
  line-height: 0.9375vw;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__connection {
  font-size: 0.625vw;
  line-height: 0.9375vw;
  color: #fff;
}

.header__burger {
  position: relative;
  width: 0.9375vw;
  height: 0.10417vw;
  background-color: #fff;
}

.header__burger::before {
  position: absolute;
  content: '';
  width: 0.9375vw;
  height: 0.10417vw;
  background-color: #fff;
  top: 0.26042vw;
}

.header__burger::after {
  position: absolute;
  content: '';
  width: 0.9375vw;
  height: 0.10417vw;
  background-color: #fff;
  top: -0.26042vw;
}

.header__bottom {
  padding: 1.14583vw 0;
}

.header__menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  position: relative;
  font-size: 0.83333vw;
  line-height: 0.46875vw;
  color: #fff;
}

.header__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 1px;
  background: #E2B024;
}

.header__link:hover::before {
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__link:hover {
  color: #E2B024;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hero__content {
  margin-top: 7.8125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  padding: 1.66667vw 0 1.25vw 0;
}

.hero__title span {
  color: #E2B024;
}

.hero__desc {
  text-align: center;
  max-width: 745px;
}

.hero__button {
  padding: 1.82292vw 0;
  color: #E2B024;
  text-decoration: underline;
}

.hero__img {
  width: 24.47917vw;
  height: 25vw;
}

.wine {
  background-color: #18191A;
}

.wine__content {
  padding: 267px 0 226px 0;
}

.wine__subtitle {
  font-family: 'Poppins';
  font-size: 20px;
  line-height: 170%;
  letter-spacing: 0.35em;
}

.wine__title {
  padding: 46px 0 52px 0;
  line-height: 28px;
}

.wine__title span {
  font-family: 'ChocolateBox';
  font-size: 74px;
  line-height: 43px;
  color: #E2B024;
}

.wine__desc {
  max-width: 526px;
  padding-bottom: 64px;
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 100%;
}

.wine__btn {
  width: 232px;
  height: 68px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

.wine__btn:nth-child(2) {
  margin-left: 60px;
}

.wine__item {
  position: relative;
  border: 10px solid #E2B024;
  height: 478px;
}

.wine__item::before {
  position: absolute;
  content: '';
  width: 374px;
  height: 374px;
  background-color: #E2B024;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wine__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
