@font-face {
    font-family: 'ChocolateBox';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/ChocolateBox.woff') format('woff');
}

@font-face {
    font-family: 'ChocolateBox';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/ChocolateBox.ttf') format('ttf');
}