.contact {
    &__title {
        text-align: center;
        padding-bottom: vw(82);
        font-family: 'ChocolateBox';
        font-size: vw(48);
        line-height: vw(28);
        color: $color-white;
        span {
            color: $color-yellow;
        }
    }
    &__desc {
        max-width: vw(466);
        margin-bottom:vw(77);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: vw(18);
        line-height: 207.6%;
    }
    &__list {
        margin-left: vw(40);
    }
    &__item {
        position: relative;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: vw(18);
        line-height: 171.6%;
        &:nth-child(2) {
            padding: vw(42) 0;
        }
        &:nth-child(1)::before,
        &:nth-child(2)::before,
        &:nth-child(3)::before {
            position: absolute;
            content:'';
            background-image: url(../../assets/images/contact/Call.svg);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            left: vw(-42);
        }
        &:nth-child(2)::before {
            background-image: url(../../assets/images/contact/Message.svg);
        }
        &:nth-child(3)::before {
            background-image: url(../../assets/images/contact/Location.svg);
        }
    }
    &__social {
        margin-top: vw(60);
    }
    &__icon {
        padding-right: vw(56);
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__input {
        margin-bottom: vw(29);
        width: vw(670);
        height: vw(64);
        background: transparent;
        color: $color-white;
        border: 1px solid $color-white;
        &:nth-child(4) {
            height: vw(133);
        }
        &::placeholder {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: normal;
            font-size: vw(24);
            line-height: vw(36);
            color: $color-white;
        }
    }
    &__btn {
        width: vw(200);
        height: vw(82);
        margin-top: vw(10);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: vw(36);
        line-height: 171.6%;
    }
}