.events {
    margin-bottom: vw(150);
    &__title {
        text-align: center;
        padding-bottom: vw(60);
        font-family: 'ChocolateBox';
        font-size: vw(48);
        line-height: vw(28);
        color: $color-white;
        span {
            color: $color-yellow;
        }
    }
    &__block {
        background: $color-gray;
    }
    &__info {
        padding-left: vw(30);
    }
    &__subtitle {
        padding: vw(62) 0 vw(8) 0;
        font-family: 'Poppins';
        font-size: vw(24);
        line-height: vw(36);
        color: $color-white;
    }
    &__date {
        font-family: 'Poppins';
        font-size: vw(18);
        line-height: vw(27);
        color: $color-white;
    }
    &__desc {
        max-width: vw(512);
        padding: vw(45) 0;
        font-family: 'Poppins';
        font-size: vw(18);
        font-weight: 300;
        line-height: vw(27);
        color: $color-white;
    }
    &__btn {
        position: relative;
        text-transform: uppercase;
        font-family: 'ChocolateBox';
        font-size: vw(18);
        line-height: vw(10);
        color: $color-yellow;
        &::before {
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            background-color: $color-yellow;
            opacity: 0.6;
            bottom: vw(-10);
        }
    }
}