.footer {
    margin: 132px 0 44px 0;
    &__top {
        position: relative;
        padding-bottom: 92px;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.6);
            bottom:0;
        }
    }
    &__title {
        font-family: 'ChocolateBox';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 14px;
        color: $color-yellow;
        text-transform: uppercase;
        padding-bottom: 42px;
    }
    &__link {
        padding-bottom: 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $color-white;
    }
    &__social {
        padding-bottom: 30px;
    }
    &__icon {
        padding-right: 44px;
        width: 24px;
        height: 24px;
    }
    &__info {
        padding: 0 0 24px 42px;
        position: relative;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 171.6%;
        color:$color-white;
        &:nth-child(2)::before,
        &:nth-child(3)::before,
        &:nth-child(4)::before {
            position: absolute;
            content:'';
            background-image: url(../../assets/images/contact/Call.svg);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            left: 0px;
            bottom: 26px;
        }
        &:nth-child(3)::before {
            background-image: url(../../assets/images/contact/Message.svg);
        }
        &:nth-child(4)::before {
            background-image: url(../../assets/images/contact/Location.svg);
        }
    }
    &__bottom {
        text-align: center;
    }
    &__author {
        padding-top: 22px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 171.6%;
        color: $color-white;
    }
}