.footer {
    margin: vw(132) 0 vw(44) 0;
    &__top {
        position: relative;
        padding-bottom: vw(92);
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.6);
            bottom:0;
        }
    }
    &__title {
        font-family: 'ChocolateBox';
        font-style: normal;
        font-weight: normal;
        font-size: vw(24);
        line-height: vw(14);
        color: $color-yellow;
        text-transform: uppercase;
        padding-bottom: vw(42);
    }
    &__link {
        padding-bottom: vw(15);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: vw(16);
        line-height: vw(24);
        color: $color-white;
    }
    &__social {
        padding-bottom: vw(30);
    }
    &__icon {
        padding-right: vw(44);
        width: 24px;
        height: 24px;
    }
    &__info {
        padding: 0 0 vw(24) vw(42);
        position: relative;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: vw(16);
        line-height: 171.6%;
        color:$color-white;
        &:nth-child(2)::before,
        &:nth-child(3)::before,
        &:nth-child(4)::before {
            position: absolute;
            content:'';
            background-image: url(../../assets/images/contact/Call.svg);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            left: 0px;
            bottom: vw(26);
        }
        &:nth-child(3)::before {
            background-image: url(../../assets/images/contact/Message.svg);
        }
        &:nth-child(4)::before {
            background-image: url(../../assets/images/contact/Location.svg);
        }
    }
    &__bottom {
        text-align: center;
    }
    &__author {
        padding-top: vw(22);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: vw(16);
        line-height: 171.6%;
        color: $color-white;
    }
}