.hero {
    &__content {
        margin-top: vw(150);
        @include flex-center;
        flex-direction: column;
    }
    &__title {
        padding: vw(32) 0 vw(24) 0;
        span {
            color: $color-yellow;
        }
    }
    &__desc {
        text-align: center;
        max-width: 745px;
    }
    &__button {
        padding: vw(35) 0;
        color: $color-yellow;
        text-decoration: underline;
    }
    &__img {
        width: vw(470);
        height: vw(480);
    }
}