.hero {
    &__content {
        margin-top: vw(150);
        @include flex-center;
        flex-direction: column;
    }
    &__title {
        padding: vw(32) 0 vw(24) 0;
        span {
            color: $color-yellow;
        }
    }
    &__desc {
        text-align: center;
        max-width: 745px;
    }
    &__button {
        position: relative;
        padding: vw(35) 0;
        color: $color-yellow;
        &::before {
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            background-color: $color-yellow;
            opacity: 0.6;
            bottom: vw(30);
        }
    }
    &__img {
        width: vw(470);
        height: vw(480);
    }
}