.sort{
    margin: vw(150) 0 vw(164) 0;
    &__row{
        width: 100% !important;
    }
    &__title{
        text-align: center;
        margin-bottom:vw(90);
        font-family: 'ChocolateBox';
        font-style: normal;
        font-weight: normal;
        font-size: vw(48);
        line-height: vw(28);
        span {
            color: $color-yellow;
        }
    }
    &__filter{
        @include flex-center;
        position: relative;
        line-height: 1.5;
        color: $color-white;
        cursor: pointer;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            width: vw(385);
            height: 1px;
            background-color: $color-white;
        }
        .filter__items{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: normal;
            font-size: vw(24);
            line-height: vw(36);
            margin-right:vw(70);
            position: relative;
            transition: 0.3s;
            &:last-child{
                margin-right: 0;
            }
            &--active{
                color: $color-yellow;
                cursor: pointer;
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: $color-yellow;
                    bottom: 0;
                    left: 0;
                    z-index: 12;
                }
            }
        }
    }
    &__item{
        position: relative !important;
        display: flex;
        flex-direction: column  !important;
        align-items: center !important;
        margin:0 0 vw(95) 0;
        justify-content: flex-end !important;
    }
    &__img{
        margin-bottom:vw(15);
        max-height: vw(360);

    }
    &__discount{
        line-height: vw(21);
        color: $color-black;
        display: inline-block !important;
        background-color: $color-yellow;
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        width: vw(80);
        height: vw(40);
        display:flex  !important;
        justify-content: center !important;
        align-items: center !important;

    }
    &__row{
        padding-top: vw(90);
    }
    &__column{
        justify-content: flex-start !important;
    }
    &__product-name{
        font-family: 'ChocolateBox';
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
        font-size: vw(24);
        line-height: vw(14);
        line-height: 1.2;
        color: $color-white;
        justify-self: left;
    }
    &__old-price{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: vw(16);
        line-height: vw(24);
        line-height: 1.2;
        color: $color-yellow;
        text-decoration: line-through;
        margin: vw(8) vw(5) 0 0;
    }
    &__new-price{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: vw(24);
        line-height: vw(36);
        line-height: 1.2;
        color: $color-yellow;
    }
    &__btn {
        @include flex-center;
        position: relative;
        font-family: 'ChocolateBox';
        font-style: normal;
        font-weight: normal;
        font-size: vw(18);
        line-height: vw(10);
        color: $color-yellow;
        &::before {
            position: absolute;
            content: '';
            height: 1px;
            width: vw(85);
            background-color: $color-yellow;
            opacity: 0.6;
            bottom: vw(-8);
        }
    }
}