.review {
    background: url(../../assets/images/review/review-bg.jpg) no-repeat center;
    background-size: cover;
    &__content {
        padding: vw(152) 0 vw(162) 0;
        @include flex-center;
        flex-direction: column;
    }
    &__title {
        padding-bottom: vw(58);
        font-family: 'ChocolateBox';
        font-size: vw(48);
        line-height: vw(28);
        color: $color-white;
        span {
            color: $color-yellow;
        }
    }
    &__name {
        padding: vw(30) 0;
        font-family: 'Poppins';
        font-size: vw(24);
        line-height: 175.3%;
        color: $color-white;
    }
    &__desc {
        max-width: vw(880);
        font-family: 'Poppins';
        font-size: vw(16);
        line-height: 175.3%;
        color: $color-white;
        text-align: center;
    }
}