.wine {
    background-color: $color-gray;
    &__content {
        padding: vw(267) 0 vw(226) 0;
    }
    &__subtitle {
        font-family: 'Poppins';
        font-size: vw(20);
        line-height: 170%;
        letter-spacing: 0.35em;
    }
    &__title {
        padding: vw(46) 0 vw(52) 0;
        line-height: vw(28);
        span {
            font-family: 'ChocolateBox';
            font-size: vw(74);
            line-height: vw(43);
            color: $color-yellow;
        }
    }
    &__desc {
        max-width: vw(526);
        padding-bottom: vw(64);
        font-family: 'Poppins';
        font-size: vw(18);
        line-height: 100%;
    }
    &__btn {
        width: vw(232);
        height: vw(68);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: vw(24);
        line-height: 100%;
        &:nth-child(2) {
            margin-left: vw(60);
        }
    }
    &__item {
        position: relative;
        border: vw(10) solid $color-yellow;
        height: vw(478);
        &::before {
            position: absolute;
            content: '';
            width: vw(374);
            height: vw(374);
            background-color: $color-yellow;
            border-radius: 50%;
            @include form-center;
        }
    }
    &__img {
        @include form-center;
    }
}